---
import Layout from '../layouts/Layout.astro'
import { TermsAndConditionsBody } from '../components/TermsAndConditionsBody'
import '../styles/Theme.css'
---

<Layout title="Code Genie | Full Stack Serverless AWS in minutes">
  <div class="max-w-4xl m-auto text-justify">
    <TermsAndConditionsBody />
  </div>
</Layout>
